body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.abir{
    color: orange
}
section{
    display: flex;    
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red
    );
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 8px
    
}
.top-banner{
    background-image: url(images/cats.jpg);
    background-repeat: no-repeat;
    
}